<!DOCTYPE html>
<!--
The MIT License

Copyright 2016 Stephen R. Williams.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<!-- Page Content --> 
<!-- reference http://www.sitepoint.com/creating-crud-app-minutes-angulars-resource/ -->
<div class="ng-cloak col-sm-offset-2 col-sm-10">
    <div class="generic-container" ng-app="projectionApp" ng-controller="ProjectionController as vm">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Projection Form</span></div>
            <div class="formcontainer">
                <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                    <tabset>
                        <tab ng-repeat="tab in vm.tabs"
                             heading="{{tab.title}}"
                             active="tab.active"
                             disable="tab.disabled">
                            <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.form" options="tab.form.options">
                            </formly-form>
                        </tab>
                    </tabset>
                </form>
                <hr />
                <h2>Model Value</h2>
                <pre>{{vm.model| json}}</pre>
                <h2>Tabs <small>(note, functions are not shown)</small></h2>
                <pre>{{vm.originalTabs| json}}</pre>
                <h2>Form</h2>
                <pre>{{vm.form| json}}</pre>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Box Keys</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--Heading row for list of box keys table -->
                        <th>Serial</th>
                        <th>Operator</th>
                        <th>Date/Time</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="k in ctrl.keys">
                        <td><span ng-bind="k.seed.serial"></span></td>
                        <td><span ng-bind="k.seed.operator"></span></td>
                        <td><span ng-bind="k.seed.time"></span></td>
                        <td>
                            <button type="button" ng-click="ctrl.edit(k.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(k.id)" class="btn btn-danger custom-width">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
