body, #mainWrapper {
    height: 70%;
    background:#34282C;
    color:#fff;
    /*background-color:   rgb(245, 245, 245);*/
}

body, .form-control{
    font-size:12px!important;
}

.btn, 
.btn.focus {
    color:#fff !important;
    border-color:#fff !important;
    background-image: linear-gradient(to bottom,#4A465C 0,#34282C 100%) !important;
}

.btn:hover {
    color:#FDD017 !important;
    border-color:#FDD017 !important;
    background-image: linear-gradient(to bottom,#4A465C 0,#34282C 100%) !important;
}

.btn:active, .btn.active {
    color:#FDD017 !important;
    border-color:#FDD017 !important;
    background-image: linear-gradient(to bottom,#34282C 0,#4A465C 100%) !important;
}

a,
a:link, 
a:visited, 
a:active,
a:link:active,
a:visited:active {
    color: #fff;
}

a:hover,
a:link:hover, 
a:visited:hover {
    color: #FDD017;
}

.navbar-nav>li>a,
.navbar-nav>li>a:link, 
.navbar-nav>li>a:visited,
.navbar-nav>li>a:active,
.navbar-nav>li>a:link:active, 
.navbar-nav>li>a:visited:active {
    color: #34282C;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:link:hover, 
.navbar-nav>li>a:visited:hover {
    color: #FDD017;
}

.panel-default {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.panel-default>.panel-heading {
    background:#34282C;
    color:#fff;  
    background-image: linear-gradient(to bottom,#4A465C 0,#34282C 100%);
}

b {
    color:#FDD017;  
}

.panel-default>.panel-body {
    background:#fff;
    color:#34282C;
    height:350px;
}

.panel-default>.panel-body>div>img {
    max-height:300px;
}

.panel-primary {
    border-color: #fff;
}

.panel-default a,
.panel-default a:link, 
.panel-default a:visited,
.panel-default a:active,
.panel-default a:link:active, 
.panel-default a:visited:active
{
    color: #34282C;
}

.panel-default a:hover,
.panel-default a:link:hover, 
.panel-default a:visited:hover {
    color: #FDD017;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}

.formcontainer{
    background-color: #34282C;
    padding: 20px;
    border-color: #34282C;
}

.tablecontainer{
    padding-left: 20px;
    background:#fff;
    color:#34282C;
}

.generic-container {
    width:80%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*this defines the width of edit/delete buttons*/
.custom-width {
    width: 40px !important;
    height: 40px !important;
}

.houstonbg {
    background: url(/images/skyline-559295_960_720.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height:663px;
    color:white;
    border-style:none;
}

.houstonbg a:link, 
.houstonbg a:visited {
    color: #FDD017;
}

.houstonbg a:link:hover, 
.houstonbg a:visited:hover {
    color: #fff;
}

.houstonbg a:link:active, 
.houstonbg a:visited:active {
    color: #FDD017;
}